body {
    color: white;
    background-color: black;
    font-size: 1.2rem;
    max-width: 450px;
    margin-left: 500px;
}

h1 {
    font-weight: 700;
    color: #0059ff;
    font-family: Roboto, sans-serif;
}

h2 {
    color: blue;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

li {
    color: #fff500
}

img {
    box-shadow: 20px 20px 5px red;
    margin-left: 150px;
    width: 64px;
    height: 64px;
    border: dashed yellow;
}
